streamlit
pandas
numpy
yfinance
ta
pytz
requests
dhanhq
NorenRestApiPy
streamlit-local-storage
streamlit-autorefresh
openpyxl
python-telegram-bot
httpx
configparser
nsepython>=0.9.0
python-binance>=1.0.17







